
#header {
  background-image: url(/images/backgroundImage.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;
}

body {
  background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#data{
  min-height: 800px;
}
.display-4 {
  font-size: 25px;
}
